
body {
    background: #AAAAAA;
}

canvas {
    cursor: crosshair;
}

.hidden {
    visibility: hidden;
    padding: 5px;
}

.warning {
    color: red;
    font-weight: bold;
}

.center {
    text-align:center;
}

.menu {
    width: 220px;
    background: #222;
    z-index: 100;
    position: absolute;
    border: solid 2px darkgray;
    padding: 4px;
}

.menuLabel {
    font-size: 14px;
    font-family: sans-serif;
    font-weight: bold;
    padding: 2px 8px;
    cursor: pointer;
    vertical-align: text-bottom;
}

.menuIcon {
    margin-left: 5px;
}

.menu li {
    font-size: 12px;
    font-family: sans-serif;
    padding: 4px 2px;
    color: #B5CBD3;
    cursor: pointer;
}

.menuHover {
    background-color: #444;
}


.menuButtonHover {
    background-color: #DDD;
}

.bullet {
    font-size: 18px;
    padding: 0 5px;
}

.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input[type=file]{
    text-align: right;
    display:none;
}


label.fileChooser {
    cursor: pointer;
    width: 200px;
    display: inline-block;
}


.modalDialog {
    width: 400px;
    height: 500px;
    background: #222;
    position: absolute;
    z-index: 100;
    border: solid 2px darkgray;
    padding: 6px;
    font-size: 14px;
    font-family: sans-serif;
    color: #B5CBD3;
}


.modalDialogContent {
    margin: 20px;
    width: 360px;
    height: 420px;
    color: white;
}


.modalDialogContent table {
    margin: 0 auto;
}

.modalDialogContentLabel {
    text-align: right;
    padding: 5px;
    color: #B5CBD3;
}

.modalDialogContentControl {
    text-align: left;
    padding: 5px;
}

.modalTitle {
    color: #B5CBD3;
    font-weight: bold;
    font-size: 16px;
}

.modalDialogButtonToolbar {
    text-align: right;
}


.modalBackground {
    opacity: 0.5;
}


.spacer {
    height: 5px;
}


/* These default values are only relevant when JavaScript is disabled. */
div#papayaContainer {
    width: 100%;
    height: 100%;
    margin: auto;
}

.checkForJS {
    width: 90%;
    height: 90%;
    margin: 25px auto;
    background-color: black;
}

.checkForJS:before {
    content: "Papaya requires JavaScript...";
    position: relative;
    top: 45%;
    left: 40%;
    color: red;
    font-size: 18px;
    font-family: sans-serif;
    text-align: center;
}


.checkBrowser {
    width: 90%;
    height: 90%;
    margin: 25px auto;
    background-color: black;
}


.checkBrowserMessage {
    content: "Papaya requires JavaScript...";
    position: relative;
    top: 45%;
    color: red;
    font-size: 18px;
    font-family: sans-serif;
    text-align: center;
}
