
.papaya-dialog {
    min-width: 400px;
    max-width: 500px;
    height: 500px;
    background: #222;
    position: absolute;
    z-index: 100;
    border: solid 2px darkgray;
    padding: 6px;
    font-size: 14px;
    font-family: sans-serif;
    color: #B5CBD3;
    box-sizing: content-box;
    line-height: 1.45;
}


.papaya-dialog-content {
    margin: 20px;
    height: 415px;
    color: #dedede;
    overflow: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}


.papaya-dialog-content-nowrap {
    white-space: nowrap;
}


.papaya-dialog-content table {
    margin: 0 auto;
}


.papaya-dialog-content-label {
    text-align: right;
    padding: 5px;
    color: #B5CBD3;
}


.papaya-dialog-content-control {
    text-align: left;
    padding: 5px;
}


.papaya-dialog-content-help {
    text-align: right;
    padding: 5px;
    color: lightgray;
    font-size: 12px;
}


.papaya-dialog-title {
    color: #B5CBD3;
    font-weight: bold;
    font-size: 16px;
}


.papaya-dialog-button {
    text-align: right;
    box-sizing: content-box;
    height: 22px;
}


.papaya-dialog-button button {
    box-sizing: content-box;
    color: black;
    font-size: 11px;
}


.papaya-dialog-background {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    width: 100%;
    height: 100%;
    opacity: 0.5;
}


.papaya-dialog-stopscroll {
    height: 100%;
    overflow: hidden;
}
