
.papaya-menu {
    width: 220px;
    background: #222;
    z-index: 100;
    position: absolute;
    border: solid 2px darkgray;
    padding: 4px;
    margin: 0;
}


.papaya-menu li {
    font-size: 12px;
    font-family: sans-serif;
    padding: 4px 2px;
    color: #B5CBD3;
    cursor: pointer;
}


.papaya-menu-label {
    font-size: 14px;
    font-family: sans-serif;
    font-weight: bold;
    padding: 2px 8px;
    cursor: pointer;
    vertical-align: text-bottom;
}


.papaya-menu-titlebar {
    font-size: 16px;
    font-family: sans-serif;
    padding: 3px 8px 0 8px;
    cursor: default;
    vertical-align: text-bottom;
    color:white;
}


.papaya-menu-icon {
    margin-left: 5px;
}


.papaya-menu-icon img {
    box-sizing: content-box;
}


.papaya-menu-hovering {
    background-color: #444;
}


.papaya-menu-spacer {
    height: 8px;
}


.papaya-menu-unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    user-drag: none;
}


.papaya-menu-button-hovering {
    background-color: #DDD;
}


.papaya-menu-filechooser {
    cursor: pointer;
    width: 200px;
    display: inline-block;
    font-weight: normal;
}


.papaya-menu-input {
    width: 38px;
    margin-right: 5px;
    color: black;
}


li .papaya-menu-slider {
    vertical-align: middle;
    text-align: center;
    display: inline;
    width: 120px;
    padding: 0;
    margin: 0;
}


@media all and (device-width: 768px) and (device-height: 1024px) {
    .papaya-menu-input {
        width: 35px;
        margin-right:4px;
    }
}
