
.papaya-toolbar {
    text-align: left;
    box-sizing: content-box;
}


.papaya-toolbar ul {
    margin: 0;
    list-style: none;
}


.papaya-toolbar input[type=file] {
    text-align: right;
    display:none;
}


.papaya-kiosk-controls {
    margin: 5px auto;
    list-style: none;
}


.papaya-kiosk-controls ul {
    list-style: none;
}


.papaya-kiosk-controls button {
    font-size: 14px;
}


.papaya-main-increment {
    font-size: 14px;
    height: 25px;
    width: 25px;
    text-align: center;
    vertical-align: middle;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    line-height: 16px;
    box-sizing: border-box;
}


.papaya-main-decrement {
    font-size: 14px;
    height: 25px;
    width: 25px;
    text-align: center;
    vertical-align: middle;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    line-height: 16px;
    box-sizing: border-box;
}


.papaya-main-swap {
    font-size: 14px;
    height: 22px;
}


.papaya-main-goto-center {
    font-size: 14px;
    height: 22px;
}


.papaya-main-goto-origin {
    font-size: 14px;
    height: 22px;
}


.papaya-slider-slice {
    padding: 0 5px;
    display: inline;
}


.papaya-slider-slice span {
    font-size: 14px;
    font-family: sans-serif;
    vertical-align: middle;
}


.papaya-slider-slice button {
    vertical-align: middle;
    font-size: 14px;
}
