
.papaya-toolbar {
    text-align: left;
    box-sizing: content-box;
}


.papaya-toolbar ul {
    margin: 0;
    list-style: none;
}


.papaya-toolbar input[type=file]{
    text-align: right;
    display:none;
}


.papaya-slider-slice {
    margin: 2px auto;
    padding: 0 5px;
}


.papaya-slider-slice input[type=range] {
    width: 100%;
    margin: 0 auto;
}
