
.papaya-toolbar {
    text-align: left;
    box-sizing: content-box;
}


.papaya-toolbar ul {
    margin: 0;
    list-style: none;
}


.papaya-toolbar input[type=file] {
    text-align: right;
    display:none;
}


.papaya-kiosk-controls {
    margin: 5px auto;
    list-style: none;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* IE/Edge */
    user-select: none;           /* non-prefixed version, currently */
}


.papaya-kiosk-controls ul {
    list-style: none;
}


.papaya-kiosk-controls button {
    -webkit-appearance: none;
    border-radius: 0;
    -webkit-border-radius:0;
    font-size: 14px;
    height: 25px;
    background-color: lightgray;
}


.papaya-control-increment {
    -webkit-appearance: none;
    border-radius: 0;
    -webkit-border-radius:0;
    font-size: 14px;
    height: 25px;
    width: 25px;
    text-align: center;
    vertical-align: middle;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    line-height: 16px;
    box-sizing: border-box;
    font-family: "Courier New", Courier, monospace;
}

.papaya-main-increment {
    -webkit-appearance: none;
    border-radius: 0;
    -webkit-border-radius:0;
    font-size: 14px;
    height: 25px;
    width: 25px;
    text-align: center;
    font-family: "Courier New", Courier, monospace;
    background-color: lightgray;
    vertical-align: middle;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    outline: none;
}


.papaya-main-decrement {
    -webkit-appearance: none;
    border-radius: 0;
    -webkit-border-radius:0;
    font-size: 14px;
    height: 25px;
    width: 25px;
    text-align: center;
    font-family: "Courier New", Courier, monospace;
    background-color: lightgray;
    vertical-align: middle;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    outline: none;
}


.papaya-main-swap {
    -webkit-appearance: none;
    border-radius: 0;
    -webkit-border-radius:0;
    font-size: 14px;
    height: 25px;
    background-color: lightgray;
    outline: none;
}


.papaya-main-goto-center {
    -webkit-appearance: none;
    border-radius: 0;
    -webkit-border-radius:0;
    font-size: 14px;
    height: 25px;
    background-color: lightgray;
    outline: none;
}



.papaya-main-goto-origin {
    -webkit-appearance: none;
    border-radius: 0;
    -webkit-border-radius:0;
    font-size: 14px;
    height: 25px;
    background-color: lightgray;
    outline: none;
}



.papaya-slider-slice {
    padding: 0 5px;
    display: inline;
}


.papaya-slider-slice span {
    font-size: 14px;
    font-family: sans-serif;
    vertical-align: middle;
}


.papaya-slider-slice button {
    -webkit-appearance: none;
    border-radius: 0;
    -webkit-border-radius:0;
    vertical-align: middle;
    font-size: 14px;
    height: 25px;
    background-color: lightgray;
}


.papaya-controlbar-label {
    color: #000000;
}